<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:oracle:thin:@//pala01-vip:1905/appldev_med.tc.mnscu.edu</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="connection.username">rodento</property>
    <property name="connection.password">Wjc2w2d?111111222222</property>
      <mapping class="edu.mnscu.acct.ebuilder.EbuilderFyRollEntity"/>
      <mapping class="edu.mnscu.acct.ebuilder.EbuilderPoBalanceEntity"/>
      <mapping class="edu.mnscu.acct.ebuilder.EbuilderProjectBalanceEntity"/>
      <mapping class="edu.mnscu.acct.ebuilder.EbuilderRetainageBalanceEntity"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>